  @font-face {
    font-family: 'Lato';
    src: url("../assets/fonts/Lato-Regular.ttf") format('truetype');
    font-weight: 300;
  }

html {
  font-size: 10px;
}

body {
    width: 1020px;
    margin: 0 auto;
    background-color: #000000;  
    padding: 0;
    font-family: 'Lato', Verdana, sans-serif;
}

.header {
  height: 95px;
  background-color: #2d303a;  
  display: flex;
  flex-direction: column;
}

.wrapper {
    margin: auto 40px auto 40px;
  }

.header__collection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.header__bottom {
    height: 6px;
    background-color:#323746;
  }

.navigation {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
}

.logo {
  text-decoration: none;
}

.logo__text {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}

.logo__text_colored {
  color: #f06c64;
}

.navigation__item {
  text-transform: uppercase;
  list-style: none;
  font-size: 12px;
  line-height: 6px;
  color: #f06c64;
  font-weight: 700;
  text-align: left;
} 

.navigation__item:not(:first-child)::before {
  content: "\2219";
  display: inline-block;
  width: 1.5em;
  line-height: 1px;
  color: #494e62;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
}

.navigation__link:hover {
  color: #9c95b6;
}

.navigation__link_selected {
  color: #f06c64;
}

.promo {
  height: 600px;
  background-color: #f06c64;
}

.promo__bottom {
  height: 15px;
  background-color: #ea676b;
}


.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 53px;
}

.arrow {
  height: 100%;
  cursor: pointer;
}

.phones {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone_vert {
  height: 240px;
  margin-left: 74px;
}

.features {
  display: flex;
  flex-direction: column;
}

.services {
  height: 495px;
  background-color: #f1f1f1;
}

h2 {
  margin: 0;
  padding-top: 68px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
}

.description {
  height: 57px;
  margin: 33px auto 51px auto;
  font-size: 15px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
}

.layout-3-column {
  margin-bottom: 66px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service {
  display: flex;
  justify-content: space-between;
  width: 299px;
  margin-bottom: 39px;
}

.services__bottom {
  height: 6px;
  background-color: #ffffff;
}

.service__icon {
  width: 59px;
  height: 59px;
  padding-top: 4px;
}

.service__content {
  width: 220px;
}

.service__name {
  margin: 0;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
}

.service__description {
  margin: 8px 0 0;
  height: 66px;
  font-size: 1.2rem;
  letter-spacing: 0.0562rem;
  line-height: 22px;
  overflow: hidden;
  color: #767e9e;
}