
body {
    font-family: 'Lato', sans-serif;
    width: 1020px;
    margin: 0 auto;
    padding: 0;
}
.container {
    padding: 0 40px;
}

 /* Header  */
.header {
    background-color: #2d303a;
    color: #fff;
    border-bottom: 6px solid #323746;
	padding: 30px 0;
	position: sticky;
	top: 0;
	z-index: 1;
}
.header__logo {
    font-size: 25px;
    font-weight: bold;
}
.logo__text:after {
	content: "*";
	color: #f06c64; 
}
.nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
#navigation {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	font-size: 12px;
	padding: 0;
	margin: 0;
}
#navigation a {
    padding-top: 8px;
    margin-left: 29px;
} 
.navigation__selected {
	color: #f06c64;
}
#navigation a:hover {
	color: #f06c64;
}


/* Slider */
#main {
	padding: 50px 0 60px;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}
#slides__wrap {
    padding: 0 73px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.slide__one {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

figure.hidden {
	display: none; 
}

.slide__two {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slides__button-left {
	position: absolute;
	top: 230px;
	left: 0;
	transition: 0.5s all ease;
}
#slides__button-right {
	position: absolute;
	top: 230px;
	right: 0;
	transition: 0.5s all ease;
}
#slides__button-right:hover, #slides__button-left:hover {
	cursor: pointer;
}

#info {
	padding: 60px 0 41px;
	background-color: #f2f2f2;
	color: #666d89;
	border-bottom: 6px solid #fff;
}
.info__title {
	margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.info__text {
	font-size: 18px;
    font-weight: 300;
    line-height: 30px;
	margin-bottom: 0;
	text-align: justify;
}
.info__list {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0;
	justify-content: space-between;
}
.info__item {
    width: 300px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-top: 8px;
	margin-bottom: -9px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info__item img {
	width: 59px;
    height: 59px;
    margin-right: 20px;
    margin-top: 20px;
}
.list__item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}
.list__item-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
	text-align: justify;
	max-height: 65px;
	overflow: hidden;
    text-overflow: ellipsis;
}

/* Portfolio */
#portfolio {
	background: #2d303a;
	padding: 20px 0;
	color: #666d89;
	text-align: left;
	padding: 50px 0 66px;
	border-bottom: 6px solid #323746;
}
.portfolio__title {
	font-weight: 900;
	font-size: 30px;
	margin-top: 10px;
    margin-bottom: 21px;
}
.portfolio__text {
	font-weight: 300;
	font-size: 18px;
    margin-bottom: 0px;
}
#images__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#images__wrap img {
	width: 220px;
	height: 187px;
	display: block;
	margin-top: 20px;
}
#images__wrap img.selected {
	border-radius: 5px;
	border: 5px solid #F06C64;
	transition: border-color 0.3s linear;
}
#images__wrap img:nth-child(n+13) {
    display: none;
}
#settings {
	list-style: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0;
	margin-top: 15px;
    margin-bottom: 0;
}
#settings li {
	padding: 3px 5px;
    margin: 0 5px;
	font-size: 12px;
	border-radius: 5px;
	border:1px solid #666d89;
	transition: 0.5s all ease;
}
#settings li:hover {
	border:1px solid #fff;
	color: #fff;
	cursor: pointer;
}
#settings li.active {
    color: #dedede;
    border: 1px solid #c5c5c5;
}
/* About */
#about {
	background: #f2f2f2;
	color: #666d89;
	padding: 33px 0 69px;
	border-bottom: 6px solid #fff;
}
.about__title {
 	font-size: 30px;
 	font-weight: 900;
 	margin-bottom: 0;
}
.about__text {
	font-size: 18px;
	font-weight: 300;
    margin-top: 21px;
	line-height: 27px;
	text-align: justify;
}
.social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.social_image {
	margin-right: 10px;
	border-radius: 50%;
}
.social_image:hover {
	cursor: pointer;
}
.card_img {
	width: 300px;
	height: 300px;
}
.card {
	width: 300px;
}
.photo__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    margin-top: 48px;
}
.card__title {
	font-size: 18px;
	font-weight: 900;
    margin-top: 12px;
    margin-bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card__text {
	font-size: 12px;
	font-weight: 400;
    line-height: 18px;
	margin-bottom: 27px;
	text-align: justify;
}
.social_image {
    margin-right: 8px;
}
ul {
	padding: 0;
}

/* Form */
#form__main {
	padding:  60px 0 0px;
	color: #f0d8d9;
	background-color: #f06c64;
	border-bottom: 6px solid #ea676b;
}

.form__title {
	font-size: 30px;
	font-weight: 900;
    margin-bottom: 0;
}
.form__text {
	font-size: 18px;
	font-weight: 300;
    line-height: 30px;
	margin-bottom: 44px;
	text-align: justify;
}
.form__main_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
.form__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
}
form input, form textarea {
    background-color: #d6564f;
    border:0px;
    border-radius: 5px;
    width: 605px;
    height: 36px;
    align-items: center;
    margin-bottom: 16px;
	padding-left: 15px;
	color: #f0d8d9;
}
input::placeholder, textarea::placeholder { 
    color: #f48c8f;
    font-weight: 300;
	font-family: 'Lato', sans-serif;
}
textarea {
	resize: none;
	overflow: hidden;
}
.btn {
    width: 130px;
	padding: 0;
	margin-bottom: 14px;
	text-align: center;
	text-decoration: none;
    background-color: #d6564f;
	border:0px;
    border-radius: 5px;
	color:#f0d8d9;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;	
}
.btn:hover {
    background-color:#a33731;;
}
#description {
	padding: 10px 0 167px 15px;
}
.contact__info_title {
	font-size: 18px;
	font-weight: 900;
    margin-top: -2px;
}
.contact__info_text {
	font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    margin-top: -8px;
    text-align: justify;
    margin-bottom: 25px;
}
.contacts__holder {
	width: 300px;
}
a { 
	color: #f0d8d9;
    text-decoration: none;
}
.contacts__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	align-items: center;
	position: relative;
}
.contacts__wrap img {
	position: absolute;
	font-weight: 400;
	width: auto;
	top: 4px;
}
.contacts__text {
	margin: 0px 0px 6px 23px;
    font-size: 12px;
	font-weight: 400;
}

.footer {
	padding: 20px 0;
	background-color: #2d303a;
	color: #666d89;
}
.footer__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer__text {
	font-size: 12px;
	font-weight: 400;
}
.social__wrap img {
	margin-left: 5px;
}
.social__wrap img:hover {
	cursor: pointer;
}

/* Message block */
#message-block {
    position: fixed;
    width: 400px;
    height: auto;
    top: 30%;
    left: 30%;
	background: #f06c64;
	border: 1px solid #f0d8d9;
	border-radius: 5px;
	z-index: 2;
}
.hidden {
    display: none;
}
#message {
    margin: 20px;
	text-align: left;
	color:#f0d8d9;
	word-break: break-all;
}
#message div {
	margin-top: 15px;
}